/* default font-face for the entire web-page */
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato:900");
#testimonials {
  position: relative;
  height: calc(100vh - 65px);
  overflow: hidden; }

.testimonials-nav {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .testimonials-nav svg {
    font-size: 3.0em; }

.right-aligned {
  right: 10%; }

.left-aligned {
  left: 10%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.testimonials-hr {
  width: 100px;
  margin-top: -1.5em; }

body {
  position: relative;
  font-size: 100%;
  font-family: "Lato";
  font-weight: 400;
  min-height: 100vh; }

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; }

.flex__container.flex--active {
  z-index: 2; }

.text--sub {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px; }

.text--big {
  font-family: "Lato";
  font-size: 1.2em;
  font-weight: 700;
  line-height: 40px;
  margin-left: -8px;
  margin-bottom: 0; }

.job-title {
  margin-top: 0;
  font-size: 1.0em; }

.text--normal {
  font-style: italic;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
  margin-top: 25px; }

.text__background {
  font-family: "Lato";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700; }

.flex__item {
  height: 100vh;
  color: #fff;
  transition: transform 0.1s linear; }

.flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 100%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden; }

.flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0; }

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1; }

/* First Slide */
.flex--first .flex__item--left {
  background: #405260; }

/* Second Slide */
.flex--second .flex__item--left {
  background: #405260; }

/* Third Slide */
.flex--third .flex__item--left {
  background: #405260; }

/* Fourth Slide */
.flex--fourth .flex__item--left {
  background: #405260; }

/* Fifth Slide */
.flex--fifth .flex__item--left {
  background: #405260; }

.flex__content {
  width: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 1;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s; }
  .flex__content p {
    width: 55%;
    margin-left: 22.5%; }

/* Animate-START point */
.flex__container.animate--start .flex__content {
  transform: translate3d(0, -50%, 0);
  opacity: 0; }

/* Animate-END point */
.flex__container.animate--end .flex__item--left {
  transform: scaleY(0); }

.flex__container.animate--end .flex__content {
  transform: translate3d(0, -50%, 0);
  opacity: 0; }

/*# sourceMappingURL=testimonials.css.map */
