@import 'navigation.scss';

#landing {
	height: 100vh;
	background: url(../images/landing2.jpg) no-repeat 50% 50%;;
	background-size: cover;
	position: relative;

	animation-name: fade-in;
	animation-duration: 0.7s;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
	}
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1}
}