@import 'materialize/sass/materialize.scss';
@import 'landing.scss';
@import 'about.scss';
@import 'expertise.scss';
@import 'globals.scss';
@import 'accomplishments.scss';
@import 'awards.scss';
@import 'testimonials.scss';

main {
	text-align: center;
	font-family: $primary-font;
	flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer.page-footer {
	text-align: center;
	background-color: #4f4a4a;
	padding: 0;
}